## Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
*.bat text eol=crlf

## Declare files that will always have LF line endings on checkout.
*.c   text eol=lf
*.h   text eol=lf
*.sh  text eol=lf
*.txt text eol=lf
makefile text eol=lf
